html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    color: rgb(211, 238, 3);
    text-align: center;
    font-family: 'Climate Crisis', cursive, 'Futura', 'Oswald', sans-serif;
    font-size: 100px;
    margin-bottom: 100px;
}



p {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 60px;
}

body {

    background-image: url('arnold.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-color: grey;
    background-blend-mode: multiply;

}

.protein {

    color: aqua;
    text-align: center;
    vertical-align: center;

}

.proteintab img {
    width: 200px;
    height: 200px;
    padding-top: 10px;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', san-serif;
}

body .panel {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    min-width: 20vh;
    margin-top: 100px;
}

.panel {
    border-radius: 10px;
    padding: 15px 25px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-header {
    color: grey;
    padding: 15px 15px;
    font-family: 'Oswald', sans-serif;
}

.more-info {
    color: white;
    padding-bottom: 15px;
}

.pricing-price {
    color: yellow;
    display: block;
    font-size: 32px;
    font-weight: 700px;
    padding-bottom: 30px;
    text-align: center;
}

.pricing-feature {

    display: inline-block;
    border: 5px solid;
    border-radius: 5%;
    border-color: rgb(253, 253, 0);
    padding: 25px 25px;
    margin: 20px;
    text-align: center;

}

.pricing-feature:hover,
.pricing-feature:focus {
    background-color: white;
}

@media(min-width: 900px) {
    .panel {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }


}